<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{/fragments/headerFragments :: head('Strona główna')}"></th:block>
<body>
    <p><strong>Witaj świecie</strong></p>
    <p th:text="${info}"></p>
    <div th:if="${car != null}" th:text="${car.id} + ' ' + ${car.model}"></div>
    <div sec:authorize="hasRole('ADMIN')">ZALOGOWANO JAKO ADMINISTRATOR</div>
    <table>
        <tr>
            <td>Waluta</td>
            <td>Kurs</td>
        </tr>
        <tr th:each="rate : ${rates}">
            <td th:text="${rate.currency}"></td>
            <td th:text="${rate.rates.getFirst().mid}"></td>
        </tr>
    </table>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button type="submit">Wyloguj</button>
    </form>
</body>
</html>