<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head('Resetowanie hasła')}"></th:block>
<body>
<form th:action="@{/login/reset/form}" method="post" th:object="${pwdResetDto}">
    <label for="login">
        Login:
        <input type="text" id="login" th:value="${username}" disabled>
    </label>

    <label for="pass">
        Wprowadź nowe hasło:
        <input type="password" id="pass" th:field="*{password}" required>
    </label>

    <label for="pass2">
        Powtórz hasło:
        <input type="password" id="pass2" th:field="*{repeatPassword}" required>
    </label>

    <input type="hidden" name="token" th:value="${token}">

    <p th:if="${error}" th:text="${error}"></p>
    <p th:if="${info}" th:text="${info}"></p>

    <div>
        <button type="submit">Zatwierdź</button>
    </div>

    <div>
        <a href="/login" th:href="@{/login}">Wróć do logowania</a>
    </div>
</form>
</body>
</html>
