<!DOCTYPE html>
<html lang="pl">
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Insta<span>Car</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="index.html" class="nav-link">Strona główna</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">O nas</a></li>
                <li class="nav-item"><a href="services.html" class="nav-link">Usługi</a></li>
                <li class="nav-item"><a href="cars.html" class="nav-link">Samochody</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Kontakt</a></li>
                <li class="nav-item active"><a href="login.html" class="nav-link">Zaloguj się</a></li>
            </ul>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><a href="#" class="logo">Insta<span>Car</span></a></h2>
                    <p>Potrzebujesz auta na weekend, podróż służbową lub wakacje? Wybierz naszą wypożyczalnię! Oferujemy
                        nowoczesne, sprawdzone pojazdy w konkurencyjnych cenach. Minimum formalności, maksimum
                        wygody!</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Informacje</h2>
                    <ul class="list-unstyled">
                        <li><a href="about.html" class="py-2 d-block">O nas</a></li>
                        <li><a href="cars.html" class="py-2 d-block">Samochody</a></li>
                        <li><a href="REGULAMIN SERWISU WYPOŻYCZALNI SAMOCHODOWEJ.pdf" class="py-2 d-block">Regulamin
                            serwisu</a></li>
                        <li><a href="Polityka Prywatności.pdf" class="py-2 d-block">Polityka prywatności</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Pomoc</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">FAQ</a></li>
                        <li><a href="#" class="py-2 d-block">Opcje płatnośći</a></li>
                        <li><a href="#" class="py-2 d-block">Porady</a></li>
                        <li><a href="#" class="py-2 d-block">Napisz do nas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Pytania?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Sejmowa 5A, 59-220 Legnica, Polska</span>
                            </li>
                            <li><a href="tel:+48574522070"><span class="icon icon-phone"></span><span class="text">+48 574 522 070</span></a>
                            </li>
                            <li><a href="mailto:pomoc@instacar.com"><span class="icon icon-envelope"></span><span
                                    class="text">pomoc@instacar.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    Wszelkie prawa zastrzeżone
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>
</html>