<!DOCTYPE html>
<html lang="pl" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
     id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand mb-0" th:href="@{/}">Insta<span>Car</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span><span th:text="#{nav.menu}"></span>
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a th:href="@{/}" class="nav-link" th:text="#{nav.main.page}"></a></li>
                <li class="nav-item"><a th:href="@{/about}" class="nav-link" th:text="#{nav.about}"></a></li>
                <li class="nav-item"><a th:href="@{/services}" class="nav-link" th:text="#{nav.services}"></a></li>
                <li class="nav-item"><a th:href="@{/cars}" class="nav-link" th:text="#{nav.cars}"></a></li>
                <li class="nav-item"><a th:href="@{/contact}" class="nav-link" th:text="#{nav.contact}"></a></li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a th:href="@{/login}" class="nav-link" th:text="#{nav.login}"></a>
                </li>
                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="${#authentication.principal.displayName}"></a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/user}"></a>
                        <div class="dropdown-divider"></div>
                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}" class="dropdown-item" th:text="#{nav.admin}"></a>
                        <div sec:authorize="hasRole('ADMIN')" class="dropdown-divider"></div>
                        <form th:action="@{/logout}" method="post">
                            <button type="submit" class="dropdown-item" th:text="#{nav.logout}"></button>
                        </form>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="langDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{nav.lang.change}"></a>
                    <div class="dropdown-menu" aria-labelledby="langDropdown">
                        <a href="#" class="dropdown-item lang-option" data-lang="pl" th:text="#{nav.lang.pl}"></a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item lang-option" data-lang="en" th:text="#{nav.lang.en}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<footer th:fragment="footer" class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><a href="#" class="logo">Insta<span>Car</span></a></h2>
                    <p>Potrzebujesz auta na weekend, podróż służbową lub wakacje? Wybierz naszą wypożyczalnię! Oferujemy
                        nowoczesne, sprawdzone pojazdy w konkurencyjnych cenach. Minimum formalności, maksimum
                        wygody!</p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Informacje</h2>
                    <ul class="list-unstyled">
                        <li><a th:href="@{/about}" class="py-2 d-block">O nas</a></li>
                        <li><a th:href="@{/cars}" class="py-2 d-block">Samochody</a></li>
                        <li><a href="REGULAMIN SERWISU WYPOŻYCZALNI SAMOCHODOWEJ.pdf" class="py-2 d-block">Regulamin
                            serwisu</a></li>
                        <li><a href="Polityka Prywatności.pdf" class="py-2 d-block">Polityka prywatności</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Pomoc</h2>
                    <ul class="list-unstyled">
                        <li><a href="FAQ.pdf" class="py-2 d-block">FAQ</a></li>
                        <li><a href="Opcje płatności.pdf" class="py-2 d-block">Opcje płatności</a></li>
                        <li><a href="Porady.pdf" class="py-2 d-block">Porady</a></li>
                        <li><a th:href="@{/contact}" class="py-2 d-block">Napisz do nas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Pytania?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Sejmowa 5A, 59-220 Legnica, Polska</span>
                            </li>
                            <li><a href="tel:+48574522070"><span class="icon icon-phone"></span><span class="text">+48 574 522 070</span></a>
                            </li>
                            <li><a href="mailto:pomoc@instacar.com"><span class="icon icon-envelope"></span><span
                                    class="text">pomoc@instacar.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    Wszelkie prawa zastrzeżone
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>

<th:block th:fragment="scripts">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.easing.1.3.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/jquery.animateNumber.min.js"></script>
    <script src="/js/bootstrap-datepicker.js"></script>
    <script src="/js/jquery.timepicker.min.js"></script>
    <script src="/js/scrollax.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/js/google-map.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const langLinks = document.querySelectorAll('.lang-option');
            const urlParams = new URLSearchParams(window.location.search);
            const langParam = urlParams.get('lang');

            langLinks.forEach(link => {
                link.addEventListener('click', function () {
                    const selectedLang = this.getAttribute('data-lang');
                    let currentUrl = window.location.href;
                    let newUrl;

                    if (langParam) {
                        newUrl = currentUrl.replace('lang=' + langParam, 'lang=' + selectedLang);
                    } else if (currentUrl.includes('?')) {
                        newUrl = currentUrl + '&lang=' + selectedLang;
                    } else {
                        newUrl = currentUrl + '?lang=' + selectedLang;
                    }

                    window.location.href = newUrl;
                });
            });
        });
    </script>
</th:block>

<div th:fragment="loader" id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>

</html>