<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head('O nas')}"></th:block>
<body>
<th:block th:replace="~{/fragments/bodyFragments :: navbar}"></th:block>
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_3.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
            <h1 class="mb-3 bread">O nas</h1>
          </div>
        </div>
      </div>
    </section>

      <section class="ftco-section ftco-about">
          <div class="container">
              <div class="row no-gutters">
                  <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/about.jpg);">
                  </div>
                  <div class="col-md-6 wrap-about ftco-animate">
                      <div class="heading-section heading-section-white pl-md-5">
                          <h2 class="mb-4">Witamy w InstaCar</h2>

                          <p>
                              W InstaCar od lat pomagamy naszym klientom spełniać ich motoryzacyjne potrzeby, oferując niezawodny wynajem samochodów na każdą okazję. Nasza firma działa na rynku od ponad 50 lat, zdobywając zaufanie tysięcy klientów oraz budując reputację jako lidera w branży wynajmu pojazdów.
                          </p>
                          <p>
                              Oferujemy szeroką gamę nowoczesnych i doskonale utrzymanych aut, które spełniają wymagania zarówno osób podróżujących służbowo, jak i prywatnie. Naszą misją jest dostarczanie usług na najwyższym poziomie, zapewniając jednocześnie elastyczność, przystępne ceny i profesjonalną obsługę.

                              Wybierając InstaCar, wybierasz firmę z tradycją, doświadczeniem i pasją do motoryzacji. Dążymy do tego, aby każdy wynajem był dla naszych klientów bezstresowy i komfortowy. Niezależnie od tego, czy potrzebujesz samochodu na weekendowy wypad, wakacje, czy do pracy – jesteśmy tutaj, aby Ci pomóc.
                          </p>
                          <p><a href="car.html" class="btn btn-primary py-3 px-4">Wyszukaj samochód</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </section>


      <section class="ftco-section testimony-section bg-light">
          <div class="container">
              <div class="row justify-content-center mb-5">
                  <div class="col-md-7 text-center heading-section ftco-animate">
                      <h2 class="mb-3">Zadowoleni klienci</h2>
                  </div>
              </div>
              <div class="row ftco-animate">
                  <div class="col-md-12">
                      <div class="carousel-testimony owl-carousel ftco-owl">
                          <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                  <div class="user-img mb-2" style="background-image: url(images/person_1.jpg)">
                                  </div>
                                  <div class="text pt-4">
                                      <p class="mb-4">Potrzebowałem auta na spontaniczny wyjazd, a InstaCar stanęło na wysokości zadania. Proces wynajmu był szybki i prosty, a samochód w idealnym stanie. Zdecydowanie polecam każdemu!</p>
                                      <p class="name">Marek Tracz</p>
                                      <span class="position">Informatyk</span>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                  <div class="user-img mb-2" style="background-image: url(images/person_2.jpg)">
                                  </div>
                                  <div class="text pt-4">
                                      <p class="mb-4">Z usług InstaCar korzystam regularnie i nigdy się nie zawiodłem. Samochody są zawsze czyste, sprawne i gotowe do drogi. Obsługa klienta jest bardzo pomocna – szybko i profesjonalnie odpowiadają na każde pytanie!</p>
                                      <p class="name">Rafał Kowalczyk</p>
                                      <span class="position">Hydraulik</span>
                                  </div>
                              </div>
                          </div>
                          <div class="item">
                              <div class="testimony-wrap rounded text-center py-4 pb-5">
                                  <div class="user-img mb-2" style="background-image: url(images/person_3.jpg)">
                                  </div>
                                  <div class="text pt-4">
                                      <p class="mb-4">Profesjonalizm w każdym calu. Samochody najwyższej jakości, a ceny bardzo konkurencyjne. Na pewno wrócę przy kolejnej okazji. InstaCar to najlepsza wypożyczalnia, z jakiej korzystałem!</p>
                                      <p class="name">Piotr Abramowicz</p>
                                      <span class="position">Operator maszyn CNC</span>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </section>

      <section class="ftco-counter ftco-section img bg-light" id="section-counter">
          <div class="overlay"></div>
          <div class="container">
              <div class="row">
                  <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                      <div class="block-18">
                          <div class="text text-border d-flex align-items-center">
                              <strong class="number" data-number="50">0</strong>
                              <span>Lat <br>Doświadczenia</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                      <div class="block-18">
                          <div class="text text-border d-flex align-items-center">
                              <strong class="number" data-number="1090">0</strong>
                              <span>Posiadanych <br>Samochodów</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                      <div class="block-18">
                          <div class="text text-border d-flex align-items-center">
                              <strong class="number" data-number="2590">0</strong>
                              <span>Zadowoloncyh <br>Klientów</span>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
                      <div class="block-18">
                          <div class="text d-flex align-items-center">
                              <strong class="number" data-number="15">0</strong>
                              <span>Wszystkich<br>Oddziałów</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

    <th:block th:replace="~{/fragments/bodyFragments :: footer}"></th:block>

      <!-- loader -->
      <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


      <script src="js/jquery.min.js"></script>
      <script src="js/jquery-migrate-3.0.1.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.easing.1.3.js"></script>
      <script src="js/jquery.waypoints.min.js"></script>
      <script src="js/jquery.stellar.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/jquery.magnific-popup.min.js"></script>
      <script src="js/aos.js"></script>
      <script src="js/jquery.animateNumber.min.js"></script>
      <script src="js/bootstrap-datepicker.js"></script>
      <script src="js/jquery.timepicker.min.js"></script>
      <script src="js/scrollax.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
      <script src="js/google-map.js"></script>
      <script src="js/main.js"></script>

  </body>
</html>