<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/fragments/headerFragments :: head('Dodawanie pojazdu')}"></th:block>
<body>
<div class="container">
    <h2>Dodaj pojazd</h2>
    <form th:action="@{/cars/add}" method="post" th:object="${carDto}" enctype="multipart/form-data">
        <label for="type">Typ pojazdu:</label>
        <select id="type" name="type" th:field="*{type}" onchange="changeType()">
            <option value="sport">Sportowy</option>
            <option value="city" selected>Miejski</option>
        </select>
        <br>
        <div>
            <h3>Model</h3>
            <label for="brand">Marka:</label>
            <input type="text" id="brand" name="brand" th:field="*{carModel.brand}" required>
            <br>
            <label for="modelName">Model:</label>
            <input type="text" id="modelName" name="modelName" th:field="*{carModel.modelName}" required>
            <br>
            <label for="carType">Typ:</label>
            <select id="carType" name="carType" th:field="*{carModel.carType}" required>
                <option th:each="carType : ${carTypes}" th:value="${carType}" th:text="${carType}"></option>
            </select>
            <br>
            <label for="seats">Liczba miejsc (niewymagane)</label>
            <input type="number" min="2" max="9" id="seats" name="seats">
            <br>
            <label for="doors">Liczba drzwi (niewymagane)</label>
            <input type="number" min="2" max="5" id="doors" name="doors">
            <br>
            <label for="transmission">Rodzaj skrzyni biegów:</label>
            <select id="transmission" name="transmission" th:field="*{carModel.transmission}" required>
                <option th:each="transmission : ${transmissions}" th:value="${transmission}"
                        th:text="${transmission}"></option>
            </select>
            <br>
            <label for="fuelType">Rodzaj paliwa:</label>
            <select id="fuelType" name="fuelType" th:field="*{carModel.fuelType}" required>
                <option th:each="fuel : ${fuels}" th:value="${fuel}"
                        th:text="${fuel}"></option>
            </select>
        </div>
        <div id="city">
            <div>
                <h3>Pojazd miejski</h3>
            </div>
            <label for="licensePlate">Nr rejestracyjny:</label>
            <input type="text" id="licensePlate" name="licensePlate" th:field="*{cityCar.licensePlate}" required>
            <br>
            <label for="vin">VIN:</label>
            <input type="text" id="vin" name="vin" th:field="*{cityCar.vin}" required>
            <br>
            <label for="color">Kolor (niewymagane):</label>
            <input type="text" id="color" name="color" th:field="*{cityCar.color}">
            <br>
            <label for="productionYear">Rok produkcji:</label>
            <input type="number" min="1950" th:max="${#dates.year(#dates.createNow())}" id="productionYear" name="productionYear" th:field="*{cityCar.productionYear}"
                   required>
            <br>
            <label for="engine">Pojemność silnika w cm^3:</label>
            <input type="text" id="engine" name="engine" th:field="*{cityCar.engine}" required>
            <br>
            <label for="price">Cena (zł/dzień):</label>
            <input type="number" min="1" max="1000" id="price" name="price" th:field="*{cityCar.price}" required>
            <br>
            <label for="tc">Pojemność bagażnika (l):</label>
            <input type="number" min="500" max="5000" id="tc" name="tc" th:field="*{cityCar.trunkCapacity}" required>
            <br>
        </div>
        <div id="sport">
            <div>
                <h3>Pojazd sportowy</h3>
            </div>
            <label for="licensePlateS">Nr rejestracyjny:</label>
            <input type="text" id="licensePlateS" name="licensePlateS" th:field="*{sportCar.licensePlate}" required>
            <br>
            <label for="vinS">VIN:</label>
            <input type="text" id="vinS" name="vinS" th:field="*{sportCar.vin}" required>
            <br>
            <label for="colorS">Kolor (niewymagane):</label>
            <input type="text" id="colorS" name="colorS" th:field="*{sportCar.color}">
            <br>
            <label for="productionYearS">Rok produkcji:</label>
            <input type="number" min="1950" th:max="${#dates.year(#dates.createNow())}" id="productionYearS" name="productionYearS" th:field="*{sportCar.productionYear}"
                   required>
            <br>
            <label for="engineS">Pojemność silnika w cm^3:</label>
            <input type="text" id="engineS" name="engineS" th:field="*{sportCar.engine}" required>
            <br>
            <label for="priceS">Cena:</label>
            <input type="number" min="1" max="1000" id="priceS" name="priceS" th:field="*{sportCar.price}" required>
            <br>
            <label for="hp">Konie mechaniczne:</label>
            <input type="number" min="50" max="800" id="hp" name="hp" th:field="*{sportCar.horsePower}" required>
            <br>
            <label for="topSpeed">Maksymalna prędkość (km/h):</label>
            <input type="number" min="100" max="400" id="topSpeed" name="topSpeed" th:field="*{sportCar.topSpeed}">
            <br>
            <label for="acc">Przyspieszenie (w sekundach, 0-100 km/h):</label>
            <input type="number" step="0.1" min="0.1" max="30" id="acc" name="acc" th:field="*{sportCar.acceleration}">
            <br>
        </div>
        <input type="file" name="file" accept="image/*" required/>
        <br>
        <button type="submit">Dodaj</button>
        <button type="reset">Wyczyść</button>
    </form>
</div>
<script>
    function changeType() {
        const type = document.getElementById("type").value;
        const city = document.getElementById("city");
        const sport = document.getElementById("sport");

        const toggleFields = (container, enabled) => {
            Array.from(container.querySelectorAll("input, select")).forEach(el => {
                if (enabled) {
                    el.disabled = false;
                    if (el.dataset.required === "true") el.required = true;
                } else {
                    if (el.required) el.dataset.required = "true";
                    el.required = false;
                    el.disabled = true;
                }
            });
            container.style.display = enabled ? "block" : "none";
        }

        toggleFields(city, type === "city");
        toggleFields(sport, type === "sport");
    }

    window.addEventListener("DOMContentLoaded", changeType);
</script>
</body>
</html>