<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head('Pojazdy')}"></th:block>
<body>
<th:block th:replace="~{/fragments/bodyFragments :: navbar}"></th:block>

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/bg_3.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-3 bread">Wybierz swój samochód</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <form th:action="@{/cars}" id="search-form" method="get" class="search-property">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="pickDate" class="label">Data odbioru</label>
                        <input type="date" class="form-control" id="pickDate" name="pickDate"
                               th:min="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}" th:value="${pickDate}">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="returnDate" class="label">Data zwrotu</label>
                        <input type="date" class="form-control" id="returnDate" name="returnDate"
                               th:min="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}" th:value="${returnDate}">
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="form-group">
                        <label for="sort" class="label">Sortuj po</label>
                        <select name="sort" id="sort" class="form-control">
                            <option value="name" th:select="${sort} == 'name'">Nazwie rosnąco</option>
                            <option value="price" th:select="${sort} == 'price'">Cenie rosnąco</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-4">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="keyword">Szukaj po nazwie</label>
                                    <input type="text" class="form-control py-2" id="keyword" name="keyword"
                                           th:value="${keyword}">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label for="type">Typ pojazdu</label>
                                    <select name="type" id="type" class="form-control py-2">
                                        <option value="all" th:selected="${type == 'all'}">Wszystkie</option>
                                        <option value="city" th:selected="${type == 'city'}">Miejski</option>
                                        <option value="sport" th:selected="${type == 'sport'}">Sportowy</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3 d-flex align-items-end">
                                <div class="form-group w-100">
                                    <button type="reset" class="btn btn-secondary py-2 w-100">Wyczyść</button>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-3 d-flex align-items-end">
                                <div class="form-group w-100">
                                    <button type="submit" class="btn btn-primary py-2 w-100">Szukaj</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div th:each="car : ${cars}" class="col-md-4">
                <div class="car-wrap rounded ftco-animate">
                    <div class="img rounded d-flex align-items-end"
                         th:style="'background-image: url(' + ${car.getImageUrl()} +');'">
                    </div>
                    <div class="text">
                        <h2 class="mb-0"><a th:href="@{'/cars/' + ${car.id}}" th:text="${car.model}">Mercedes Grand
                            Sedan</a></h2>
                        <div class="d-flex mb-3">
                            <span class="cat" th:text="${car.model.brand}">Cheverolet</span>
                            <p class="price ml-auto" th:text="${car.price} + ' zł '"></p><span class="cat">/dzień</span>
                        </div>
                        <div class="d-flex mb-0 d-block justify-content-around">
                            <a th:href="@{/order/create(carId=${car.id}, pickDate=${pickDate}, returnDate=${returnDate})}" class="btn btn-primary py-2 mr-1">Wynajmij</a>
                            <a th:href="@{'/cars/' + ${car.id}}" class="btn btn-secondary py-2 ml-1">Szczegóły</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul th:if="${totalPages > 1}">
                        <li><a th:href="@{/cars(page=${1}, size=${currentSize}, type=${type}, keyword=${keyword}, pickDate=${pickDate}, returnDate=${returnDate}, sort=${sort})}">&laquo;</a>
                        </li>
                        <th:block th:each="pageNum : ${pageNumbers}">
                            <li th:if="${currentPage} == ${pageNum}" class="active">
                                <a th:href="@{/cars(page=${pageNum}, size=${currentSize}, type=${type}, keyword=${keyword}, pickDate=${pickDate}, returnDate=${returnDate}, sort=${sort})}"
                                   th:text="${pageNum}"></a>
                            </li>
                            <li th:unless="${currentPage} == ${pageNum}">
                                <a th:href="@{/cars(page=${pageNum}, size=${currentSize}, type=${type}, keyword=${keyword}, pickDate=${pickDate}, returnDate=${returnDate}, sort=${sort})}"
                                   th:text="${pageNum}"></a>
                            </li>
                        </th:block>
                        <li>
                            <a th:href="@{/cars(page=${totalPages}, size=${currentSize}, type=${type}, keyword=${keyword}, pickDate=${pickDate}, returnDate=${returnDate}, sort=${sort})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="~{/fragments/bodyFragments :: footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: loader}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: scripts}"></th:block>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const pickDate = document.getElementById('pickDate');
        const returnDate = document.getElementById('returnDate');
        const form = document.getElementById('search-form');

        const formatDateToInput = (date) => date.toISOString().split('T')[0];

        const updateMinMax = () => {
            if (pickDate.value) {
                const date = new Date(pickDate.value);
                date.setDate(date.getDate() + 1);
                returnDate.min = formatDateToInput(date);
                if (returnDate.value && returnDate.value < returnDate.min) {
                    returnDate.value = '';
                }
            }
            if (returnDate.value) {
                const date = new Date(returnDate.value);
                date.setDate(date.getDate() - 1);
                pickDate.max = formatDateToInput(date);
                if (pickDate.value && pickDate.value > pickDate.max) {
                    pickDate.value = '';
                }
            }
        };

        pickDate.addEventListener('change', updateMinMax);
        pickDate.addEventListener('change', () => form.submit());
        returnDate.addEventListener('change', updateMinMax);
        returnDate.addEventListener('change', () => form.submit());

        updateMinMax();
    });
</script>

</body>
</html>