<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head('Pojazdy')}"></th:block>
<body>
<th:block th:replace="~{/fragments/bodyFragments :: navbar}"></th:block>

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_3.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-3 bread">Wybierz swój samochód</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div th:each="car : ${cars}" class="col-md-4">
                <div class="car-wrap rounded ftco-animate">
                    <div class="img rounded d-flex align-items-end"
                         th:style="'background-image: url(' + ${car.getImageUrl()} +');'">
                    </div>
                    <div class="text">
                        <h2 class="mb-0"><a th:href="@{'/cars/' + ${car.id}}" th:text="${car.model}">Mercedes Grand
                            Sedan</a></h2>
                        <div class="d-flex mb-3">
                            <span class="cat" th:text="${car.model.brand}">Cheverolet</span>
                            <p class="price ml-auto" th:text="${car.price} + ' zł '"></p><span class="cat">/dzień</span>
                        </div>
                        <p class="d-flex mb-0 d-block"><a href="#" class="btn btn-primary py-2 mr-1">Wynajmij</a> <a
                                th:href="@{'/cars/' + ${car.id}}" class="btn btn-secondary py-2 ml-1">Szczegóły</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul th:if="${totalPages > 1}">
                        <li><a th:href="@{/cars(page=${1}, size=${currentSize})}">&laquo;</a></li>
                        <th:block th:each="pageNum : ${pageNumbers}">
                            <li th:if="${currentPage} == ${pageNum}" class="active">
                                <a th:href="@{/cars(page=${pageNum}, size=${currentSize})}"
                                   th:text="${pageNum}"></a>
                            </li>
                            <li th:unless="${currentPage} == ${pageNum}">
                                <a th:href="@{/cars(page=${pageNum}, size=${currentSize})}"
                                   th:text="${pageNum}"></a>
                            </li>
                        </th:block>
                        <li><a th:href="@{/cars(page=${totalPages}, size=${currentSize})}">&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="~{/fragments/bodyFragments :: footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: loader}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: scripts}"></th:block>
</body>
</html>