<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head('Kontakt')}"></th:block>
<body>
<th:block th:replace="~{/fragments/bodyFragments :: navbar}"></th:block>

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/image_1.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-3 bread">Napisz do nas</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-4">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="border w-100 p-4 rounded mb-2 d-flex">
                            <div class="icon mr-3">
                                <span class="icon-map-o"></span>
                            </div>
                            <p><span>Adres:</span> Sejmowa 5A, 59-220 Legnica, Polska</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="border w-100 p-4 rounded mb-2 d-flex">
                            <div class="icon mr-3">
                                <span class="icon-mobile-phone"></span>
                            </div>
                            <p><span>Telefon:</span> <a href="tel:48574522070">+48 574 522 070</a></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="border w-100 p-4 rounded mb-2 d-flex">
                            <div class="icon mr-3">
                                <span class="icon-envelope-o"></span>
                            </div>
                            <p><span>Email:</span> <a href="mailto:pomoc@instacar.com">pomoc@instacar.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 block-9 mb-md-5">
                <form th:action="@{/contact}" th:object="${email}" method="post" class="bg-light p-5 contact-form">
                    <div class="form-group">
                        <input type="text" th:field="*{name}" class="form-control" placeholder="Twoje imię">
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{emailFrom}" class="form-control" placeholder="Twój email">
                    </div>
                    <div class="form-group">
                        <input type="text" th:field="*{topic}" class="form-control" placeholder="Temat">
                    </div>
                    <div class="form-group">
                        <textarea th:field="*{message}" cols="30" rows="7" class="form-control"
                                  placeholder="Wiadomość"></textarea>
                    </div>
                    <p th:if="${error}">Nie udało się zalogować!</p>
                    <p th:if="${info}" th:text="${info}"></p>
                    <div class="form-group">
                        <input type="submit" value="Wyślij" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="~{/fragments/bodyFragments :: footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: loader}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: scripts}"></th:block>
</body>
</html>