<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head('Strona główna')}"></th:block>
<body>
<th:block th:replace="~{/fragments/bodyFragments :: navbar}"></th:block>

<div class="hero-wrap ftco-degree-bg" style="background-image: url('images/bg_1.jpg');"
     data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
          <div class="col-lg-8 ftco-animate">
          	<div class="text w-100 text-center mb-md-5 pb-md-5">
                <h1 class="mb-4">Szybki i łatwy sposób na wypożyczenie samochodu</h1>
                <p style="font-size: 18px;">Twój klucz do odkrywania kraju i regionu czeka! Wybierz idealny samochód z naszej floty i ruszaj w niezapomnianą podróż.</p>

            </div>
          </div>
        </div>
    </div>
</div>

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                    <div class="col-md-4 d-flex align-items-center">
                        <form action="#" class="request-form ftco-animate bg-primary">
                            <h2>Zaplanuj swoją podróż</h2>
                            <div class="mb-3">
                                <label for="pickup-location" class="form-label">Miejscowość odbior</label>
                                <select id="pickup-location" class="form-control">
                                    <option value="" disabled selected>Wybierz miasto</option>
                                    <option value="Warszawa">Warszawa</option>
                                    <option value="Warszawa">Legnica</option>
                                    <option value="Kraków">Kraków</option>
                                    <option value="Gdańsk">Gdańsk</option>
                                    <option value="Wrocław">Wrocław</option>
                                    <option value="Poznań">Poznań</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="return-location" class="form-label">Miejscowość zwrot</label>
                                <select id="return-location" class="form-control">
                                    <option value="" disabled selected>Wybierz miasto</option>
                                    <option value="Warszawa">Warszawa</option>
                                    <option value="Warszawa">Legnica</option>
                                    <option value="Kraków">Kraków</option>
                                    <option value="Gdańsk">Gdańsk</option>
                                    <option value="Wrocław">Wrocław</option>
                                    <option value="Poznań">Poznań</option>
                                </select>
                            </div>

                            <div class="d-flex">

                                <div class="form-group mr-2">
                                    <label for="" class="label">Data odbioru</label>
                                    <input type="text" class="form-control" id="book_pick_date" placeholder="Data">
                                </div>
                                <div class="form-group ml-2">
                                    <label for="" class="label">Data zwrotu</label>
                                    <input type="text" class="form-control" id="book_off_date" placeholder="Data">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Wypożycz" class="btn btn-secondary py-3 px-4">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8 d-flex align-items-center">
                        <div class="services-wrap rounded-right rounded-left w-100">
                            <h3 class="heading-section mb-4">Znajdź swój wymarzony samochód</h3>
                            <div class="row d-flex mb-4">
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Wybierz lokalizację</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Wybierz najlepszą ofertę</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                                    <div class="services w-100 text-center">
                                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                        <div class="text w-100">
                                            <h3 class="heading mb-2">Zarezerwuj furę</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><a th:href="@{/cars}" class="btn btn-primary py-3 px-4">Wymarzone samochody</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Usługi</span>
            <h2 class="mb-3">Nasze usługi</h2>
          </div>
        </div>
				<div class="row">
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Ślub</h3>
                <p>Wypożycz ekskluzywny samochód wraz z kierowcą na swoją wielką uroczystość.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Miasto</h3>
                <p>Szybka taryfa z punktu A do punktu B w Twoim mieście.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-car"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Lotnisko</h3>
                <p>Zawieziemy Cię na samolot i odbierzemy kiedy tylko chcesz.</p>
              </div>
            </div>
					</div>
					<div class="col-md-3">
						<div class="services services-2 w-100 text-center">
            	<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-transportation"></span></div>
            	<div class="text w-100">
                <h3 class="heading mb-2">Podróż</h3>
                <p>Wypożyczysz u nas samochód na podróż życia w dalekie strony.</p>
              </div>
            </div>
					</div>
				</div>
			</div>
		</section>

    <section class="ftco-counter ftco-section img bg-light" id="section-counter">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row">
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="50">0</strong>
                <span>Lat <br>Doświadczenia</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="1090">0</strong>
                <span>Posiadanych <br>Samochodów</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text text-border d-flex align-items-center">
                <strong class="number" data-number="2590">0</strong>
                <span>Zadowoloncyh <br>Klientów</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
            <div class="block-18">
              <div class="text d-flex align-items-center">
                <strong class="number" data-number="15">0</strong>
                <span>Wszystkich<br>Oddziałów</span>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<th:block th:replace="~{/fragments/bodyFragments :: footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: loader}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: scripts}"></th:block>
</body>
</html>