<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head(#{login.title})}"></th:block>
<body>
<th:block th:replace="~{/fragments/bodyFragments :: navbar}"></th:block>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/carback1.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-3 bread" th:text="#{login.title}"></h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-4">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <div class="border w-100 p-4 rounded mb-2 d-flex">
                            <div class="icon mr-3">
                                <span class="icon-map-o"></span>
                            </div>
                            <p><span th:text="#{login.register.key}"></span> <a th:href="@{/register}" th:text="#{login.register.value}"></a></p>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="border w-100 p-4 rounded mb-2 d-flex">
                            <div class="icon mr-3">
                                <span class="icon-envelope-o"></span>
                            </div>
                            <p><span th:text="#{login.problem}"></span> <a href="mailto:pomoc@instacar.com">pomoc@instacar.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 block-9 mb-md-5">
                <form th:action="@{/login}" method="post">
                    <!-- Username input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="login" class="form-control" th:name="username" required/>
                        <label class="form-label" for="login" th:text="#{login.username}"></label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password"  id="pass" th:name="password" required class="form-control"/>
                        <label class="form-label" for="pass" th:text="#{login.password}"></label>
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col-6 d-flex align-items-center justify-content-center">
                            <a th:href="@{/login/reset}" th:text="#{login.forgot}"></a>
                        </div>
                        <div class="col-6 d-flex align-items-center justify-content-center">
                            <a href="/oauth2/authorization/google" class="google-btn">
                                <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="Google Logo">
                                <span th:text="#{login.google}"></span>
                            </a>
                        </div>
                    </div>

                    <p th:if="${error}" th:text="${error}"></p>
                    <p th:if="${info}" th:text="${info}"></p>
                    <!-- Submit button -->
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-primary btn-block mb-4" th:text="#{login.submit}">
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<th:block th:replace="~{/fragments/bodyFragments :: footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: loader}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: scripts}"></th:block>
</body>
</html>