<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head}"></th:block>
<body>
<form th:action="@{/login}" method="post">
    <label for="login">
        Podaj login:
        <input type="text" id="login" th:name="username" required>
    </label>
    <label for="pass">
        Podaj hasło:
        <input type="password" id="pass" th:name="password" required>
    </label>
    <p th:if="${error}">Nie udało się zalogować!</p>
    <p th:if="${info}" th:text="${info}"></p>
    <div>
        <button type="reset">Wyczyść</button>
        <button type="submit">Zaloguj</button>
    </div>
    <div>
        <a href="/oauth2/authorization/google">Zaloguj przez Google</a>
        <br>
        <p>Nie masz jeszcze konta?</p>
        <a href="/register" th:href="@{/register}">Zarejestruj się!</a>
        <a href="/login/reset" th:href="@{/login/reset}">Zresetuj hasło</a>
    </div>
</form>
</body>
</html>