<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head(#{password.title})}"></th:block>
<body>
<th:block th:replace="~{/fragments/bodyFragments :: navbar}"></th:block>

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/carback1.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-3 bread" th:text="#{password.title}"></h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section contact-section">
    <div class="container">
        <div class="row d-flex mb-5 contact-info justify-content-center">
            <h5 th:text="#{password.message2}"></h5>
            <div class="col-md-8 block-9 mb-md-5">
                <form th:action="@{/login/reset/form}" method="post" th:object="${pwdResetDto}">
                    <!-- Username input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="text" id="login" class="form-control" th:value="${username}" disabled />
                        <label class="form-label" for="login" th:text="#{password.username}"></label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password"  id="pass" th:field="*{password}" class="form-control" required/>
                        <label class="form-label" for="pass" th:text="#{password.password}"></label>
                    </div>

                    <!-- Password reset input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password"  id="pass2" th:field="*{confirmPassword}" class="form-control" required/>
                        <label class="form-label" for="pass2" th:text="#{password.password.repeat}"></label>
                    </div>
                    <input type="hidden" th:field="*{token}" />

                    <p th:if="${error}" th:text="${error}"></p>
                    <p th:if="${info}" th:text="${info}"></p>
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                            class="btn btn-primary btn-block mb-4" th:text="#{password.submit2}">
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<th:block th:replace="~{/fragments/bodyFragments :: footer}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: loader}"></th:block>
<th:block th:replace="~{/fragments/bodyFragments :: scripts}"></th:block>
</body>
</html>