<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head('Resetowanie hasła')}"></th:block>
<body>
<form th:action="@{/login/reset}" method="post">
    <label for="login">
        Podaj login lub email:
        <input type="text" id="login" th:name="identify" required>
    </label>
    <p th:if="${error}" th:text="${error}"></p>
    <p th:if="${info}" th:text="${info}"></p>
    <div>
        <button type="submit">Zatwierdź</button>
    </div>
    <div>
        <a href="/login" th:href="@{/login}">Wróć do logowania</a>
    </div>
</form>
</body>
</html>