<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/headerFragments :: head}"></th:block>
<body>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label for="login">
        Podaj login:
        <input type="text" id="login" th:field="*{username}" required>
    </label>
    <label for="email">
        Podaj email:
        <input type="email" id="email" th:field="*{email}" required>
    </label>
    <label for="pass">
        Podaj hasło:
        <input type="password" id="pass" th:field="*{password}" required>
    </label>
    <label for="passRepeat">
        Powtórz hasło:
        <input type="password" id="passRepeat" required>
    </label>
    <p th:if="${error}" th:text="${error}"></p>
    <div>
        <button type="reset">Wyczyść</button>
        <button type="submit">Zarejestruj</button>
    </div>
    <div>
        <p>Posiadasz już konto?</p>
        <a href="/login" th:href="@{/login}">Zaloguj się!</a>
    </div>
</form>
</body>
</html>