<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/fragments/headerFragments :: head('Użytkownicy')}"></th:block>
<body>
<div class="container">
    <h2>Użytkownicy</h2>
    <h3><a th:href="@{/users/add}">Dodaj użytkownika</a></h3>
    <table style="border: 1px solid black">
        <tbody>
        <tr th:each="user : ${users}" style="padding: 10px; border-bottom: 1px solid black">
            <td style="padding: 10px" th:text="${user.username}"></td>
            <td style="padding: 10px" th:text="${user.email}"></td>
            <td style="padding: 10px" th:text="${user.role}"></td>
            <td style="padding: 10px" th:text="${user.provider}"></td>
            <td style="padding: 10px" th:text="${user.userDetails}"></td>
            <td><a th:href="@{/users/{id}(id=${user.id})}">Zobacz</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>