<!DOCTYPE html>
<html lang="pl">
<th:block th:replace="~{/fragments/adminFragments :: head('Strona główna')}"></th:block>
<body class="d-flex flex-column min-vh-100">
<div class="container-fluid flex-grow-1 d-flex">
    <div class="row flex-grow-1 w-100">
        <th:block th:replace="~{/fragments/adminFragments :: navigation}"></th:block>

        <div class="col-lg-9 col-md-8 p-4 d-flex flex-column">
            <h4 class="text-muted">Pojazdy</h4>
            <hr>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <form class="d-flex" th:action="@{/admin/cars}" method="get">
                    <input type="text" name="search" class="form-control me-2" placeholder="Szukaj pojazdu...">
                    <input type="hidden" name="page" th:value="${currentPage}">
                    <input type="hidden" name="size" th:value="${currentSize}">
                    <button type="submit" class="btn btn-outline-primary">Szukaj</button>
                </form>
                <a th:href="@{/admin/cars/add}" class="btn btn-success">Dodaj nowe auto</a>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-bordered align-middle">
                    <thead class="table-dark">
                    <tr>
                        <th>Model</th>
                        <th>Kolor</th>
                        <th>Rok</th>
                        <th>Silnik</th>
                        <th>Cena</th>
                        <th>Akcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="car : ${cars}">
                        <td th:text="${car.model}"></td>
                        <td th:text="${car.color}"></td>
                        <td th:text="${car.productionYear}"></td>
                        <td th:text="${car.engine}"></td>
                        <td th:text="${car.price}"></td>
                        <td>
                            <a th:href="@{'/admin/cars/edit/' + ${car.id}}" class="btn btn-sm btn-primary me-2">Edytuj</a>
                            <form th:action="@{'/admin/cars/delete/' + ${car.id}}" method="post" class="d-inline">
                                <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Na pewno usunąć?')">Usuń</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <nav>
                <ul th:if="${totalPages > 1}" class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/admin/cars(page=${1}, size=${currentSize})}">&laquo;</a>
                    </li>

                    <th:block th:each="pageNum : ${pageNumbers}">
                        <li class="page-item active" th:if="${currentPage} == ${pageNum}">
                        <a class="page-link"
                               th:href="@{/admin/cars(page=${pageNum}, size=${currentSize})}"
                               th:text="${pageNum}"></a>
                        </li>
                        <li class="page-item" th:unless="${currentPage} == ${pageNum}">
                        <a class="page-link" th:href="@{/admin/cars(page=${pageNum}, size=${currentSize})}"
                           th:text="${pageNum}"></a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/admin/cars(page=${totalPages}, size=${currentSize})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<th:block th:replace="~{/fragments/adminFragments :: footer}"></th:block>
</body>
</html>
